.wrapper-hero {
  background-color: var(--secondary-bg-color);

  .hero-home {
    background-position: center;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #424242;

    .content {
      margin: 0 auto;
      max-width: 1097px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 40px 36px 30px 36px;
      background: var(--white);
      position: relative;
      z-index: 10;
      top: 300px;
      min-height: 500px;

      h1 {
        font-family: var(--nb-primary-font);
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        color: var(--dark);
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        margin-bottom: 26px;
      }

      .introduction {
        margin: 0;
        padding: 0;
        margin-bottom: 36px;

        * {
          font-family: var(--nb-secondary-font);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 135%;
          color: var(--dark);
          margin: 0;
          padding: 0;
        }
      }
    }

    .overlay {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 15%);
      border-radius: 0 0 60% 60%/20px;
    }
  }

  &+div,
  &+section {
    padding-top: 410px;
    background-color: var(--nb-bg-light);
  }

  &+.highlight-event-section.empty {
    .container {
      display: none;
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper-hero {
    .hero-home {
      height: 300px;

      .content {
        top: 130px;
        padding: 20px 24px;
        padding-bottom: 5rem;
        background-size: 120px;
        max-width: 100%;

        h1 {
          font-size: 30px;
          line-height: 115%;
          margin-bottom: 12px;
        }

        .introduction {
          margin-bottom: 17px;

          * {
            color: var(--black);
            font-size: 18px;
            line-height: 130%;
          }
        }
      }
    }
  }
}