.wrapper-hero {
  background-color: var(--secondary-bg-color);

  .hero-home {
    background-position: center;
    height: calc(150px + 20vw);
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 60% 60%/20px;
    background-color: #424242;

    .content {
      margin: 0 auto;
      max-width: 1097px;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      padding: 40px 36px;
      background: var(--white);
      position: relative;
      z-index: 10;
      top: 300px;
      background-image: url('../../Icons/hero-home-circle.svg');
      background-repeat: no-repeat;
      background-position: top right;
      min-height: 550px;

      h1 {
        font-family: var(--primary-font);
        font-size: 49px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        color: var(--primary-color);
        margin: 0;
        padding: 0;
        margin-bottom: 26px;
      }

      .introduction {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;

        * {
          font-family: var(--secondary-font);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          color: var(--primary-color);
          margin: 0;
          padding: 0;
        }
      }
    }

    .overlay {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 15%);
      border-radius: 0 0 60% 60%/20px;
    }
  }

  &+div,
  &+section {
    padding-top: calc(500px) !important;
    background-color: var(--secondary-bg-color);
    border-radius: 0 0 60% 60%/20px;
  }

  &+.highlight-event-section.empty {
    .container {
      display: none;
    }

    @media screen and (min-width: 1350px) {
      padding-top: 400px !important;
    }
  }
}

@media screen and (max-width: 992px) {
  .wrapper-hero {
    .hero-home {
      height: 300px;

      .content {
        top: 130px;
        padding: 20px 24px;
        padding-bottom: 5rem;
        background-size: 120px;
        max-width: 100%;

        h1 {
          font-size: 37px;
          line-height: 115%;
          margin-bottom: 10px;
        }

        .introduction {
          margin-bottom: 35px;

          * {
            color: var(--black);
            font-size: 19px;
            line-height: 120%;
          }
        }
      }
    }

    &+div,
    &+section {
      padding-top: 650px !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .wrapper-hero {
    .hero-home {
      .form-hubspot.homepage {
        padding-bottom: 1rem;
      }
    }

    &+div,
    &+section {
      padding-top: 700px !important;
    }
  }
}

@media screen and (max-width: 370px) {
  .wrapper-hero {
    .hero-home {
      .form-hubspot.homepage {
        padding-bottom: 2rem;
      }
    }

    &+div,
    &+section {
      padding-top: 850px !important;
    }
  }
}

@media screen and (max-width: 310px) {
  .wrapper-hero {
    .hero-home {
      .form-hubspot.homepage {
        padding-bottom: 3rem;
      }

      .form-hubspot.homepage form .legal-consent-container .hs-richtext {
        top: 8.5rem;
      }
    }

    &+div,
    &+section {
      padding-top: 900px !important;
    }
  }
}