.map-filter-block {
  .map-wrapper {
    background-color: transparent;
    margin: 0;
    margin: 2rem 0;

    .pre-header {
      display: none !important;
    }
  }

  #filter-events-list {
    &.grid-events {
      display: grid;
      gap: calc(.25rem * 4);
      margin-bottom: 2.5rem;

      &.one {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }

      &.two {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      &.three {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }

      .ui-event-card-v2 {
        &:hover {
          .content-container .btn {
            opacity: 1;
            background-color: rgb(140, 198, 63);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .map-filter-block {

    &.mobile-show {

      .map-wrapper {
        margin: 0;

        .pre-header {
          margin-bottom: 0;
          display: flex !important;

          .container {
            margin-right: auto;
            margin-left: auto;
            padding-right: var(--bs-gutter-x, 0.75rem);
            padding-left: var(--bs-gutter-x, 0.75rem);
          }
        }
      }
    }

    #filter-events-list {
      &.grid-events {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        display: flex;
        padding: 0 1rem .25rem 0;

        &>.ui-event-collection-card,
        &>.ui-event-card-v2 {
          flex: 0 0 auto;
          scroll-snap-align: start;
          scroll-snap-stop: always;
          width: 75vw;
          width: 40%;
        }

        &.one {
          padding: 0;

          &>.ui-event-collection-card,
          &>.ui-event-card-v2 {
            width: 100%;
          }
        }

        &.event-collection {
          flex-direction: column;
          padding: 0;

          &>.ui-event-collection-card {
            width: 100%;
          }
        }

        &.mobile-two {
          overflow-x: hidden;

          .ui-event-card-v2 {
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  #filter-events-list.grid-events {

    &>.ui-event-card-v2 {
      width: 80% !important;
    }

    &.mobile-two {
      overflow-x: auto;

      .ui-event-card-v2 {
        width: 80% !important;
      }
    }

  }
}