.main-content {
  background-color: var(--white) !important;

  .float-layout {
    min-height: 250px;

    .main-heading {
      color: var(--black);
      font-family: var(--nb-primary-font);
      font-size: 45px;
      font-style: normal;
      font-weight: 400;
      line-height: 110%;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
    }

    .pre-header {
      display: flex;
      align-items: center;
      align-items: center;
      gap: 30px;
      margin-bottom: 35px;
    }

    .brief-information {
      padding: 35px 30px;
      border-radius: 10px;
      background: var(--nb-bg-light);
      margin-bottom: 30px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .metadata {
        display: flex;
        flex-direction: column;
        gap: 15px;

        span {
          margin: 0;
          padding: 0;
          color: var(--dark);
          font-family: var(--nb-secondary-font);
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 140%;
          display: flex;
          align-items: center;
          gap: 10px;

          a {
            color: var(--dark);
            text-decoration: underline;
          }
        }
      }

      .wp-button {
        text-decoration: none;
        cursor: pointer;
        padding: 10px;
        background-color: var(--white);
        border-radius: 5px;

        display: flex;
        align-items: center;
        gap: 10px;

        color: var(--dark);
        font-family: var(--nb-secondary-font);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

        border: 2px solid var(--dark);

        &:hover {
          color: var(--white);
          background-color: var(--dark);

          svg rect {
            fill: var(--dark);
          }

          svg path {
            fill: var(--white);
          }
        }

        &.stretched {
          // max-width: 185px;
        }
      }
    }

    .introduction {
      color: var(--dark);
      font-family: var(--nb-secondary-font);
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      margin-bottom: 20px;

      em {
        font-style: italic;
      }

      b,
      strong {
        font-weight: bolder;
      }

      a {
        color: var(--dark);
        font-family: var(--nb-primary-font);
        font-style: normal;
        font-weight: 600;
        line-height: 150%;
      }
    }

    .alt-introduction {
      color: var(--dark);
      font-family: var(--nb-secondary-font);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      margin-bottom: 30px;

      em {
        font-style: italic;
      }

      b,
      strong {
        font-weight: bolder;
      }

      a {
        color: inherit;
        text-decoration: underline;
      }
    }

    .content {

      .image-wrapper {
        margin: 1rem 0;
      }

      // Additional blocks
      .highlight-event-section {
        padding-bottom: 50px;

        .header {
          margin-bottom: 20px;
        }

        .event-card {
          padding: 20px;
        }
      }

      .highlight-tools-section2 {
        padding-bottom: 50px;

        .header {
          margin-bottom: 20px;
        }

        .tool-card {
          .image-wrapper {
            margin: 0;
          }
        }
      }

      .component-narrative-block {
        padding: 45px 0;

        h2 span {
          color: var(--black);
          font-family: var(--nb-primary-font);
          font-size: 23px;
          font-weight: 400;
          line-height: 110%;
          display: block;
        }

        .text-content * {
          color: var(--dark);
          font-family: var(--nb-secondary-font);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%;
        }
      }

      &.csl-variant {
        a {
          color: inherit;
          font-size: inherit;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
        }
      }
    }

    .back-btn {
      a {
        display: flex;
        align-items: center;
        gap: 10px;

        color: var(--black);
        font-family: var(--nb-secondary-font);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        text-decoration: none;
      }
    }

    .form-wrapper {
      margin-bottom: 59px;

      &.dark-green {
        border-radius: 10px;
        padding: 20px;
        background-color: var(--primary-color);
      }

      .spinner-wrapper {
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .external-register {
      display: flex;
      align-items: center;
      margin: 1rem 0;
    }

    .image-event {
      text-align: center;
      margin-bottom: 1rem;
      height: 400px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .float-layout+.highlight-tools-section2 {
    margin-top: -100px;
  }

  .related-section {
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
  }

  .wrapper-layout.event-detail {
    padding: 150px 0 50px 0;

    .float-layout {
      top: unset;
    }

    .pre-header {
      display: flex;
      align-items: center;
      align-items: center;
      gap: 30px;
      margin-bottom: 35px;


      a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: var(--dark);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
      }
    }
  }

  .event-introduction {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;

    span {
      color: var(--dark);
      font-family: var(--nb-secondary-font);
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 140%;
    }

    .date {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .grid-events {
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &.one {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &.two {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &.three {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

@media screen and (max-width: 992px) {
  .main-content {
    .float-layout {

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 23px !important;
        line-height: 120% !important;
        margin-bottom: 10px !important;
      }

      .main-heading {
        font-size: 23px !important;
      }

      .pre-header {
        margin-bottom: 20px;

        .back-btn {
          display: none;
        }
      }

      .brief-information {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

        .metadata {
          span {
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
          }
        }

        .wp-button {
          width: 100%;
          justify-content: center;
          gap: 7px;
          flex-direction: row-reverse;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
        }
      }

      .introduction {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        margin-bottom: 20px;
      }

      .alt-introduction {
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }

      .content {
        * {
          font-size: 15px;
          font-style: normal;
          // font-weight: 400;
          line-height: 145%;
        }

        p {
          font-size: 15px;
        }

        blockquote {
          padding-left: 15px;

          * {
            font-size: 23px;
            line-height: 120%;
          }
        }
      }

      .image-event {
        height: 250px;

        img {
          object-fit: cover;
        }
      }

      .form-wrapper {
        .spinner-wrapper {
          min-height: auto;
        }
      }
    }

    .wrapper-layout.event-detail {
      padding: 120px 0 30px 0;

      .pre-header {
        display: none;
      }
    }

    .grid-events {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .related-section {
      margin-top: 60px;
      padding-top: 30px;
    }
  }
}