.navbar2 {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 3;
  }

  .close,
  .navbar-toggler2 {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.20);
  }

  .navbar-toggler2 {
    border: none;
    background-color: transparent;

    &:hover {
      svg {
        rect {
          fill: var(--dark);
        }

        path {
          stroke: var(--white);
        }
      }
    }
  }

  &.green {
    .navbar-toggler2 {
      &:hover {
        svg {
          rect {
            fill: var(--primary-color-light);
          }
        }
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 30px;

    button {
      padding: 0;
    }

    .wp-button svg:hover {
      g rect {
        fill: var(--dark);
      }
    }
  }
}

#nav-content {
  .actions {
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      padding: 0;
    }

    .wp-button svg:hover {
      g rect {
        fill: var(--primary-color);
      }
    }
  }

  .offcanvas-header,
  .offcanvas-body {
    padding: 0;
    margin: 0;
  }

  .offcanvas {
    visibility: visible;
    transform: translateX(100%);
    padding: 37px 205px;
    width: 740px;
    background-color: var(--white);
    // transition: transform 0.25s ease-in-out;

    display: flex;
    align-items: flex-end;
    transition: transform .75s;
    transition-timing-function: cubic-bezier(1);

    .actions {
      gap: 20px;
      margin-bottom: 118px;

      .close {
        border: none;
        border-radius: 3px;
        background: var(--white);
        padding: 10px;
        border: 1.5px solid var(--dark);
      }

      .wp-button svg:hover {
        g rect {
          fill: #000;
        }
      }
    }
  }

  .offcanvas.show {
    transform: none;
    box-shadow: 0px -5px 9px 0px rgba(0, 0, 0, 0.50);
  }

  // Links
  .links-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    gap: 50px;
    margin-bottom: 78px;

    .nav-item {
      padding: 0;
      margin: 0;
      text-align: right;
      border-bottom: 2px solid var(--dark);

      &:hover {
        border-bottom: 2px solid var(--dark);
      }

      a {
        color: var(--dark);
        font-family: var(--nb-primary-font);
        font-size: 39px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%;
        text-decoration: none;
      }

      &.dropdown {
        &.open {
          &>a {
            border-bottom: 2px solid var(--white);
          }

          border-bottom-color: var(--primary-color);
        }

        .dropdown-menu {
          background: none;
          border: none;
          box-shadow: none;

          &.open {
            display: block;
            padding-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          .dropdown-item {
            padding: 0;
            margin: 0;

            &:hover {
              background: none !important;
            }

            .dropdown-link {
              display: block;
              text-align: right;
              color: var(--white);
              font-family: var(--nb-secondary-font);
              font-size: 25px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
              margin: 0;
              padding: 0;
              text-decoration: none;

              &:hover {
                color: var(--secondary-color);
              }
            }
          }
        }
      }
    }

  }
}

@media screen and (max-width: 992px) {
  .navbar2 {
    .navbar-brand {
      svg {
        width: 149.683px;
        height: 60.045px;
      }
    }

    .actions {
      gap: 20px;
      position: relative;
    }
  }

  #nav-content {
    .offcanvas.show {
      width: 85%;
      padding: 0;
      padding-top: .5rem;

      .actions {
        gap: 10px;
        margin-bottom: 50px;
      }

      .offcanvas-body {
        .links-container {
          gap: 25px;
          margin-bottom: 25px;
          align-items: flex-end;
          text-align: right;

          .nav-item a {
            font-size: 29px;
            line-height: 115%;
          }

          .nav-item.dropdown .dropdown-menu.open {
            gap: 12px;
          }

          .nav-item.dropdown .dropdown-menu .dropdown-item .dropdown-link {
            font-size: 19px;
            line-height: 130%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar2 {
    .actions {
      .navbar-toggler2 svg {
        width: 50px;
        height: 100%;
      }

      .wp-button svg {
        width: 50px;
        height: 49px;
      }
    }
  }

  #nav-content {
    .actions {
      .navbar-toggler2 svg {
        width: 50px;
        height: 100%;
      }

      .wp-button svg {
        width: 70px;
      }
    }

    .offcanvas.show {
      .actions {
        gap: 30px;

        .close {
          padding: 10px;
          // width: 34px;
          // height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            height: 100%;
            width: 100%;
          }
        }

        .wp-button svg {
          width: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 456px) {
  .navbar2 {
    padding-top: 0.4rem;

    .navbar-brand {
      svg {
        height: 65px;
        width: 130px;
      }
    }

    .actions {
      gap: 10px;

      .navbar-toggler2 svg {
        // width: 44px;
        // height: 44px;
      }

      .wp-button svg {
        width: 70px;
      }
    }
  }

  #nav-content {
    .actions {
      top: -.85rem;
      padding-right: 19px;

      .navbar-toggler2 svg {
        width: 44px;
        height: 44px;
      }

      .wp-button svg {
        width: 70px !important;
      }

      .close {
        width: 44px !important;
        height: 44px !important;
      }
    }

    .offcanvas.show .actions {
      gap: 20px;

      .wp-button svg {
        width: 44px !important;
        height: 44px !important;
      }
    }

    .links-container .nav-item a {
      font-size: 25px !important;
    }
  }
}