.simple-text-wrapper {
  .simple-text {

    ul,
    ol {
      list-style: initial;
      padding-left: 3rem;

      p {
        margin-bottom: .5rem;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        font-family: var(--nb-secondary-font);
      }
    }

    table {
      border: 0;
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 1rem;

      * {
        color: var(--dark);
        font-family: var(--nb-secondary-font);
        vertical-align: middle;
      }

      th {
        padding: 20px;
        background-color: #EEF5FF;
        color: var(--dark);
        font-family: var(--nb-secondary-font);
        font-size: 16px !important;
        font-weight: 700 !important;
        line-height: 150% !important;
        text-transform: uppercase;
      }

      tr {
        border-bottom: 1px solid #c7c7c7;

        td {
          padding: 20px;
          color: var(--dark);
          font-family: var(--nb-secondary-font);
          font-size: 16px !important;
          font-style: normal;
          font-weight: 500 !important;
          line-height: 150% !important;
        }
      }
    }

    a {
      color: var(--dark);
      font-family: var(--nb-secondary-font);
      font-weight: 600;
      line-height: 150%;
    }

    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      font-family: var(--nb-secondary-font);
    }

    em {
      font-style: italic;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--dark);
      font-family: var(--nb-secondary-font);
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
    }

    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 30px;
    }

    h3 {
      font-size: 28px;
    }

    h4 {
      font-size: 23px;
    }

    h5,
    h6 {
      font-size: 20px;
    }

    blockquote {
      border-left: 8px solid var(--dark);
      padding-left: 20px;
      margin-right: 25px;
      margin-bottom: 1rem;

      * {
        color: var(--dark);
        font-family: var(--nb-secondary-font);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: 0.39px;
        margin: 0;
      }
    }

    em {
      font-style: italic;
    }

    b,
    strong {
      font-weight: bold;
    }

    ol {
      list-style: decimal;
    }

    ul {
      list-style: initial;
    }

    ol,
    ul {
      padding-left: 2.5rem;

      p {
        margin-bottom: .5rem;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        font-family: var(--nb-secondary-font);
      }
    }

    &.limited-with {
      max-width: 1096px;
    }
  }

  &.single,
  &.introduction-normal {
    margin-top: 72px;
  }

  &.introduction {
    margin: 0;

    * {
      color: var(--dark);
      font-size: 25px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
    }
  }
}

@media screen and (max-width: 992px) {
  .simple-text-wrapper {
    .simple-text {
      div:first-child {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
      }

      * {
        font-size: 16px;
      }
    }

    &.single,
    &.introduction-normal {
      margin-top: 10px;
    }
  }

  #simple-text-block {
    &.introduction {
      margin: 0;
      padding: 0;
      margin-top: 25px;

      * {
        margin: 0 !important;
      }
    }
  }
}