.highlight-tools-section {
  margin-top: 50px;
  padding-bottom: 115px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h3 {
      color: var(--dark);
      font-family: var(--nb-primary-font);
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin: 0;
      padding: 0;
      position: relative;
      padding-bottom: 10px;

      &::before {
        content: '';
        width: 75px;
        height: 5px;
        background-color: var(--nb-secondary-color);
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;

      }
    }
  }

  &+.highlight-tools-section {
    margin-top: 0;
    padding-bottom: 60px;
  }
}

.tool-card {
  display: block;
  text-decoration: none;
  min-height: 450px;
  height: 100%;
  border-radius: 10px;
  border: 2px solid var(--dark);
  background-color: var(--nb-bg-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .content-tool {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icon {
      margin-bottom: 30px;

      span {
        font-size: 75px;
        color: var(--dark);
      }

      svg {
        width: 75px;
        height: 75px;
      }
    }

    h3 {
      color: var(--dark);
      font-family: var(--nb-primary-font);
      font-size: 31px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      margin: 0;
      padding: 0;
      margin-bottom: 30px;
      white-space: pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      word-wrap: break-word;
    }

    .introduction {
      color: var(--nb-grey);
      font-family: var(--nb-secondary-font);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 1rem;
    }
  }

  &.light-green {
    background-color: var(--white);
  }

  &:hover {
    background-color: var(--nb-primary-color-light);

    .content-tool {
      .introduction {
        color: var(--dark);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .highlight-tools-section {
    padding-bottom: 30px;
    margin-top: 20px;

    .header {
      margin-bottom: 30px;

      h3 {
        font-size: 23px;
        margin-bottom: 35px;
      }
    }

    .row>* {
      // margin-top: 0;
    }
  }

  .tool-card {
    height: auto;
    min-height: auto;
    margin-bottom: 19px;

    .image {
      * {
        width: 100%;
      }
    }

    .content-tool {
      padding: 15px 25px;

      .icon {
        margin-bottom: 20px;

        span {
          font-size: 45px;
        }

        svg {
          width: 45px;
          height: 45px;
        }
      }

      h3 {
        font-size: 29px;
        margin-bottom: 20px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 100%;
      }

      .introduction {
        font-size: 15px;
        line-height: 130%;
        margin-bottom: 60px;
      }
    }
  }
}