.ui-form-steps2 {
  border-radius: 10px;
  background: var(--nb-secondary-color);
  display: grid;
  grid-template-columns: 3fr 1fr;
  overflow: hidden;
  margin-bottom: 13px;
  min-height: 536px;

  .metadata {
    padding: 65px 44px 65px 50px;

    h1 {
      color: var(--white);
      font-family: var(--nb-primary-font);
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin-bottom: 20px;
    }

    p {
      color: var(--white);
      font-family: var(--nb-secondary-font);
      font-size: 19px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 30px;
      }

      a {
        color: inherit;
        font-weight: bold;
      }
    }

    .ui-form-hubspot form .legal-consent-container .input .inputs-list {
      li {
        margin: 0;

        label {
          align-items: center !important;
        }

        .hs-fieldtype-booleancheckbox input {
          background-color: red;
        }
      }
    }
  }

  .image-container {
    aspect-ratio: 1 / 1;
    height: 100%;

    img {
      aspect-ratio: 1 / 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.first-step .metadata .ui-form-hubspot form {
    display: flex !important;
  }

  &.second-step {
    grid-template-columns: 1fr;
    background: var(--nb-bg-light);
    padding: 69px 45px;
    height: auto;
    min-height: auto;

    .metadata {
      padding: 0;

      h1 {
        color: var(--dark);
      }

      p {
        color: var(--dark);
        margin-bottom: 50px;
      }

      .ui-form-hubspot .legal-consent-container {
        .hs-richtext {
          display: none;
        }

        .hs-fieldtype-booleancheckbox .input .inputs-list .hs-form-booleancheckbox {
          margin-bottom: 16px;

          label span p {
            font-size: 16px;
          }

          label input {
            margin: 0;
            height: 28px !important;
            width: 28px !important;
          }
        }
      }
    }

    .image-container {
      display: none;
    }

    .ui-form-hubspot form .hs_submit {
      margin-top: 16px;
    }
  }

  // Colors variants
  &.green {
    background: var(--nb-primary-color-light);

    .metadata {

      h1,
      p {
        color: var(--dark);
      }
    }
  }

  &.internal {
    grid-template-columns: 1fr;
    min-height: auto;
    border-radius: unset;
    background: transparent;

    .metadata {
      padding: 0;

      h1,
      p {
        color: var(--dark);
      }
    }

    .image-container {
      display: none;
    }

    .hs-submit .actions .hs-button {
      padding: 19px 20px 15px 20px !important;
    }
  }

  &.remove.second-step {
    padding: 0;
    background: transparent;

    .ui-form-hubspot form .hs_submit {
      margin: 0;
    }

    .hs-submit .actions .hs-button {
      padding: 19px 20px 15px 20px !important;
    }
  }
}

.no-style {
  border-radius: unset;
  background: unset;
  display: block;
  margin-bottom: 0;
  min-height: unset;

  .ui-form-hubspot form .hs-form-field label {
    display: none;
  }

  .ui-form-hubspot form {
    display: flex !important;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .hs-fieldtype-booleancheckbox {
    display: block;
    flex-direction: row-reverse;

    .inputs-list {
      padding-bottom: 0 !important;
      margin-bottom: 10px !important;
    }

    label {
      margin-bottom: 0 !important;

      span {
        color: var(--dark);
        font-family: var(--nb-secondary-font);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }
    }
  }

  .ui-form-hubspot .legal-consent-container .hs-richtext,
  .ui-form-hubspot .legal-consent-container .hs-richtext p {
    display: block !important;
  }

  legend {
    color: var(--dark);
    font-family: var(--nb-secondary-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }

  form .legal-consent-container {
    order: unset;
  }

  form .legal-consent-container .inputs-list .hs-form-booleancheckbox label span {
    color: rgb(11, 9, 8);
  }

  .ui-form-hubspot form .hs-submit .actions .hs-button {
    background-color: rgb(140, 198, 63);
    border-color: rgb(140, 198, 63);
    border-radius: 8px;
    color: rgb(11, 9, 8);
    font-size: 22px;
    margin-bottom: 24px;
    box-shadow: unset;

    &:hover {
      color: rgb(11, 9, 8);
      background-color: rgb(127, 180, 56);
      border-color: rgb(127, 180, 56);
    }
  }

  .ui-form-steps2.second-step .ui-form-hubspot form .hs_submit {
    margin-top: 0;
  }
}

// Fix for firefox
@-moz-document url-prefix() {
  .ui-form-steps2 {
    grid-template-columns: 60% 40%;
  }
}

.legal-text {
  color: var(--nb-gray);
  font-family: var(--nb-secondary-font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  width: 100%;

  a {
    color: var(--dark);
    font-weight: 600;
    text-decoration: none;
  }
}

@media screen and (max-width: 1200px) {
  .ui-form-steps2 {
    min-height: auto;
  }

  .ui-form-steps2 .metadata h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .ui-form-steps2 .metadata p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 992px) {
  .ui-form-steps2 {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    margin: 0 auto;
    margin-bottom: 13px;

    .metadata {
      padding: 30px;
    }

    &.second-step {
      height: auto;
      padding: 20px 24px;

      .metadata {
        p {
          margin-bottom: 20px;
        }
      }
    }
  }

  .legal-text.first-step {
    max-width: 696px;
  }
}