.video-player {
  margin: 2rem 0;

  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    iframe {
      width: 85%;
      height: 85%;
    }

    span {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 30px;
      font-size: 2rem;
      font-weight: 800;
      color: var(--white);
    }
  }

  .thumbnail {
    position: relative;
    cursor: pointer;

    .image-wrapper {
      width: 100%;

      &>div {
        width: 100%;
      }
    }

    img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
    }

    &::before {
      content: '';
      border-radius: 10px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.171);
      position: absolute;
      top: 0;
      left: 0;
      background-image: url('../../Icons/play.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}