.text-red {
  color: red;
}

.text-green {
  color: green;
}

.text-blue {
  color: rgb(75, 113, 236);
}

.text-gray {
  color: rgb(110, 109, 109);
}

.opacity-50 {
  opacity: 0.5;
}

.cursor-wait {
  cursor: wait;
}