.wrapper-layout {
  &.white {
    background-color: var(--white);
  }

  &.light {
    background-color: var(--nb-bg-light);
  }

  &.event-detail:has(.related-section) {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width:992px) {
  .wrapper-layout {
    &.secondary-bg {
      background-color: var(--nb-bg-light);
    }
  }
}