.wrapper-layout {
  &.white {
    background-color: var(--white);
  }

  &.light {
    // background-color: var(--secondary-bg-color);
    background-color: var(--nb-bg-light);
  }
}

@media screen and (max-width:992px) {
  .wrapper-layout {
    &.secondary-bg {
      // background-color: var(--secondary-bg-color);
      background-color: var(--nb-bg-light);
    }
  }
}