.ui-event-collection-card {
  display: grid;
  background-color: var(--white);
  cursor: pointer;

  position: relative;
  outline: 0 solid #0000;
  outline-offset: 2px;
  position: relative;
  transition: all .2s ease-in-out;
  border-radius: .5rem;
  overflow: hidden;

  .ui-event-card-v2 {
    border-radius: unset;
    box-shadow: unset;

    &:hover {
      translate: unset;
      box-shadow: unset;
    }
  }

  .related-events {
    border-color: rgb(229, 229, 229);
    border-top-width: 2px;
    border-style: solid;

    ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      padding: 0;
      margin: 0;

      a {
        color: var(--black);
        text-decoration: inherit;

        li {
          align-items: center;
          margin-inline: calc(.25rem * 0);

          --list-grid-cols: minmax(0, auto) 1fr;
          border-radius: var(--radius-box);
          display: grid;
          gap: 1rem;
          grid-auto-flow: column;
          grid-template-columns: var(--list-grid-cols);
          padding: 1rem;
          position: relative;
          word-break: break-word;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;

            height: calc(.25rem * 10);
            width: calc(.25rem * 10);

            grid-row-start: 1;
            color: rgb(140, 198, 63);
            background-color:
              color-mix(in oklab, rgb(140, 198, 63) 10%, transparent);
            border-radius: 3.40282e+38px;
          }

          .metadata {
            grid-row-start: 1;

            .date {
              font-size: .7rem;
              font-weight: 700;

              b,
              strong {
                font-weight: 700;
              }
            }

            .type {
              opacity: .6;
              text-transform: uppercase;
              font-weight: 600;
              font-size: .6rem;
              line-height: 1.33333;
            }

            .intro {
              color: var(--black);
              font-size: .65rem;
              line-height: 1.42857;
            }
          }
        }

        &:hover {
          background-color: color-mix(in oklab, rgb(140, 198, 63) 20%, transparent);
        }
      }
    }

    &.length-1 ul {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    &.length-2 ul {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  &.vertical-layout {
    display: flex;
    flex-direction: column;

    .related-events ul {
      display: flex;
      flex-direction: column;

      li {
        .icon {
          svg {
            width: 21px;
            height: 21px;
          }
        }
      }
    }
  }

  &.generic-variant {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;

    .ui-event-card-v2 .content-container {
      h3 {
        font-size: 48px;
        line-height: 40px;
        color: oklch(0.14 0.004 49.25);
        margin-bottom: 8px;
      }

      .subtitle {
        display: block;
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        text-transform: uppercase;
        color: oklch(0.14 0.004 49.25);
        margin-bottom: 8px;
        opacity: .6;
        font-stretch: 75%;
      }

      .introduction {
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 18px;
        line-height: 28px;
        color: oklch(0.14 0.004 49.25);

        * {
          color: oklch(0.14 0.004 49.25);
        }
      }
    }

    .ui-event-card-v2 .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .signal-qr {
      padding: 1.5rem;
      width: 100%;
      height: 100%;
    }

    &:hover {
      translate: unset;
      box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 #0000001a, 0 25px 50px -12px var(--tw-shadow-color, #00000040);
    }
  }

  &:hover {
    translate: 0 calc(0.25rem * -1);
  }
}

@media screen and (max-width: 992px) {
  .ui-event-collection-card {
    .related-events {
      ul {
        display: flex;
        flex-direction: column;

        a li {
          .icon {
            height: calc(.2rem * 10);
            width: calc(.2rem * 10);

            svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }

    &.generic-variant {

      .ui-event-card-v2 .content-container {
        h3 {
          font-size: 32px;
          line-height: 36px;
        }

        span {
          font-size: 12px;
          line-height: 18px;
        }

        .introduction {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}