.form-hubspot {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    .hs-form-field {
      position: relative;

      label {
        color: #49454F;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
      }

      .input {
        input {
          width: 100%;
          padding: 16px;
          border-radius: 4px;
          border: none;
          border: 1px solid var(--white);
          background: transparent;

          color: #49454F;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.5px;
          outline: none !important;

          &.invalid.error {
            border-color: #FF0000;
          }

          &::placeholder {
            color: var(--white);
          }

          &:hover {
            border-color: #3b3b3b !important;
          }

          &:focus,
          &:active {
            border: 1px solid #21578A !important;
          }
        }
      }

      .hs-error-msgs.inputs-list {
        list-style: none;
        margin: 0;
        padding: 0;

        label.hs-error-msg {
          font-size: 14px;
          color: #FF0000 !important;
          position: unset;
        }
      }
    }

    .hs_error_rollup {
      display: none;
    }

    .legal-consent-container {
      grid-column: span 2;
      position: relative;

      .inputs-list {
        margin: 0;
        padding: 0;

        .hs-form-booleancheckbox {

          input {
            width: 24px !important;
            height: 24px;
          }

          label span * {
            font-size: 18px;
          }
        }
      }

      .hs-richtext {
        position: absolute;
        top: 6rem;
        left: 0;
        margin: 0;
        padding: 0;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }

    .hs-richtext {
      color: var(--white);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      margin-bottom: 10px;

      p a {
        color: var(--secondary-color);
      }
    }

    .hs-dependent-field {
      .input {
        .inputs-list {
          list-style: none;
          padding: 0;
          padding-left: .1rem;

          .hs-form-booleancheckbox {
            label {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              position: unset !important;

              &.focused {
                margin: 0 !important;
                padding: 0 !important;
              }

              input {
                width: auto;
              }

              span {
                color: var(--white);
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
                margin-left: 10px;
              }
            }
          }
        }
      }
    }

    .hs-submit {
      grid-column: span 2;

      .actions {
        .hs-button {
          width: 100%;
          padding: 19px 20px 15px 20px;
          background-color: var(--secondary-color);
          border: none;
          border-radius: 5px;
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);

          color: var(--white);
          font-family: var(--primary-font);
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: 100%;

          &:hover {
            background: #BA6900;
          }

          &:disabled {
            background-color: gray;
            color: white;
            cursor: not-allowed;
          }
        }
      }
    }

    .hs_error_rollup {
      .hs-error-msgs {
        list-style: none;
        padding: 0;
        margin: 0;

        .hs-main-font-element {
          color: #FF0000;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 130%;
        }
      }
    }

    // Material UI effect
    .hs-form-field label {
      position: absolute;
      top: 15px;
      left: 10px;
      pointer-events: none;
      transition: 0.15s ease-out;
      color: var(--white);
      font-size: 18px;
    }

    .hs-form-booleancheckbox-display {
      position: initial !important;
      padding: 0 !important;
      pointer-events: initial !important;
    }

    /*
    .hs-form-field:has(.hs-input:focus),
    .hs-form-field:has(.hs-input[data-input="load"]) {
      label {
        top: -8px;
        background-color: var(--primary-color);
        color: var(--white);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        padding: 0 5px;
      }
    }
    */

    .focused {
      top: -8px !important;
      color: var(--primary-color);
      background-color: transparent;
      font-size: 14px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 16px !important;
      padding: 0 5px !important;
    }
  }

  &.homepage {
    form {
      .hs-form-field {
        .input {
          input {
            border: 1px solid #79747E;
            color: #1D1B20;

            &::placeholder {
              color: var(--third-color);
            }
          }
        }
      }

      .hs-richtext {
        color: var(--third-color);
      }

      .hs-dependent-field {
        .input {
          .inputs-list {
            .hs-form-booleancheckbox {
              label {
                span {
                  color: var(--third-color);
                }
              }
            }
          }
        }
      }

      .hs-submit {
        .actions {
          .hs-button {
            box-shadow: none;
          }
        }
      }

      .hs-form-field label {
        color: #49454F;
      }

      /*
      .hs-form-field:has(.hs-input:focus),
      .hs-form-field:has(.hs-input[data-input="load"]) {
        label {
          background-color: var(--white);
          color: #49454F;
        }
      }
      */

      .focused {
        background-color: var(--white);
        color: #49454F;
      }

      &:has(.hs_error_rollup),
      &:has(.hs-input.invalid.error) {
        margin-bottom: 1.5rem !important;
      }
    }
  }

  &.event {
    margin-bottom: 5.5rem;

    form {
      .hs-form-field {
        .input {
          input {
            border: 1px solid #79747E;
            color: #1D1B20;

            &::placeholder {
              color: var(--third-color);
            }
          }
        }
      }

      .hs-richtext {
        color: var(--third-color);
      }

      .hs-dependent-field {
        .input {
          .inputs-list {
            .hs-form-booleancheckbox {
              label {
                span {
                  color: var(--third-color);
                }
              }
            }
          }
        }
      }

      .hs-submit {
        .actions {
          .hs-button {
            box-shadow: none;
          }
        }
      }

      .hs-form-field label {
        color: #49454F;
      }

      /*
      .hs-form-field:has(.hs-input:focus),
      .hs-form-field:has(.hs-input[data-input="load"]) {
        label {
          background-color: var(--white);
          color: #49454F;
        }
      }
      */

      .focused {
        background-color: var(--white);
        color: #49454F;
      }
    }
  }

  &:has(.hs_error_rollup) {
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 992px) {
  .form-hubspot {
    form {
      grid-template-columns: 1fr;

      .legal-consent-container,
      .hs-submit {
        grid-column: initial;
      }


    }

    &.homepage {

      &:has(.hs_error_rollup),
      &:has(.hs-input.invalid.error) {
        padding-bottom: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .form-hubspot {
    &.homepage {
      padding-bottom: 5rem;

      &:has(.hs_error_rollup),
      &:has(.hs-input.invalid.error) {
        padding-bottom: 4rem;
      }

      .legal-consent-container .hs-richtext {
        top: 6.5rem;
      }
    }

    &.event {
      margin-bottom: 7rem;

      form .legal-consent-container .hs-richtext {
        top: 6.5rem;
      }
    }
  }
}

@media screen and (max-width: 366px) {
  .form-hubspot {
    &.homepage {
      padding-bottom: 7rem;

      form .legal-consent-container .hs-richtext {
        top: 7.5rem;
      }

      &:has(.hs_error_rollup),
      &:has(.hs-input.invalid.error) {
        padding-bottom: 5rem;

        form .legal-consent-container .hs-richtext {
          top: 7.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 325px) {
  .form-hubspot {
    &.homepage {
      padding-bottom: 8rem;

      form .legal-consent-container .hs-richtext {
        top: 8rem;
      }
    }
  }
}