.ui-form-hubspot {
  form {
    display: flex;
    gap: 16px;

    .hs_recaptcha {
      display: none;
    }

    .hs-form-field {
      position: relative;

      label {
        color: #49454F;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
      }

      .input {
        input {
          width: 100%;
          padding: 16px;
          border-radius: 4px;
          border: none;
          border: 1px solid var(--white);
          background: transparent;

          color: #49454F;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.5px;
          outline: none !important;

          &.invalid.error {
            border-color: #FF0000;
          }

          &::placeholder {
            color: var(--white);
          }

          &:hover {
            border-color: #3b3b3b !important;
          }

          &:focus,
          &:active {
            border: 1px solid #21578A !important;
          }
        }
      }

      .hs-error-msgs.inputs-list {
        list-style: none;
        margin: 0;
        padding: 0;

        label.hs-error-msg {
          font-size: 14px;
          color: #FF0000 !important;
          position: unset;
        }
      }
    }

    .hs_error_rollup {
      display: none;
    }

    .legal-consent-container {
      .inputs-list {
        margin: 0;
        padding: 0;

        .hs-form-booleancheckbox {
          margin-bottom: .5rem;

          input {
            width: 25px;
            height: 25px;
          }

          label {

            span {
              margin: 0;

              * {
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                color: #000;
                margin-bottom: 3px;
              }
            }
          }
        }
      }

      .hs-richtext {
        margin: 0;
        padding: 0;

        p {
          color: var(--nb-grey);
          font-family: var(--nb-secondary-font);
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          margin: 0;
          padding: 0;
        }

        a {
          color: var(--dark);
          font-weight: 600;
          text-decoration: none;
        }
      }
    }

    .hs-richtext {
      color: var(--white);
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      margin-bottom: 10px;

      p a {
        color: var(--secondary-color);
      }
    }

    .hs-dependent-field {
      .input {
        .inputs-list {
          list-style: none;
          padding: 0;
          padding-left: .1rem;

          .hs-form-booleancheckbox {
            label {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              position: unset !important;

              &.focused {
                margin: 0 !important;
                padding: 0 !important;
              }

              input {
                // width: auto;
              }

              span {
                // color: var(--white);
                // font-size: 13px;
                // font-style: normal;
                // font-weight: 400;
                // line-height: 130%;
                // margin-left: 10px;
              }
            }
          }
        }
      }
    }

    .hs-submit {
      .actions {
        .hs-button {
          width: 100%;
          padding: 19px 20px 15px 20px;
          background-color: var(--nb-primary-color);
          border: none;
          border-radius: 5px;
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
          border: 2px solid var(--dark);

          color: var(--dark);
          font-family: var(--nb-secondary-font);
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;

          &:hover {
            background: #BA6900;
          }

          &:disabled {
            background-color: gray;
            color: white;
            cursor: not-allowed;
          }
        }
      }
    }

    .hs_error_rollup {
      .hs-error-msgs {
        list-style: none;
        padding: 0;
        margin: 0;

        .hs-main-font-element {
          color: #FF0000;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 130%;
        }
      }
    }

    .hs-form-radio:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .hs-fieldtype-radio {
      position: initial;

      .inputs-list {
        list-style: none;
        padding: 0;

        .hs-form-radio-display {
          position: initial;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;

          .hs-input {
            width: 20px;
            height: 20px;
            accent-color: var(--dark);
          }
        }
      }
    }

    .hs-fieldtype-booleancheckbox {
      position: initial;

      &:last-of-type {
        margin: 0;

        .inputs-list {
          border-bottom: none;
          padding: 0;
          margin: 0;

          .hs-form-booleancheckbox {
            .hs-form-booleancheckbox-display {
              input {
                // width: 15px !important;
                // height: 15px;
              }

              span {
                // padding: 0;
                // margin: 0;

                // * {
                //   color: #6F6F6E;
                //   font-size: 13px;
                //   font-weight: 400;
                //   line-height: 150%;
                // }
              }
            }
          }
        }
      }

      .inputs-list {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-bottom: 30px;
        margin-bottom: 6px;
        // border-bottom: 1px solid #6F6F6E;

        .hs-form-booleancheckbox {

          .hs-form-booleancheckbox-display {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0 !important;

            input {
              // width: auto;
              // width: 20px;
              // height: 20px;

              &:checked {
                accent-color: var(--dark);
              }
            }

            span {
              // color: var(--dark);
              // font-family: var(--nb-secondary-font);
              // font-size: 16px;
              // font-style: normal;
              // font-weight: 500;
              // line-height: 150%;
            }
          }
        }
      }
    }

    // Material UI effect
    .hs-form-field label {
      position: absolute;
      top: 15px;
      left: 10px;
      transition: 0.15s ease-out;
      color: var(--white);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
    }

    .hs-form-booleancheckbox-display {
      position: initial !important;
      padding: 0 !important;
      pointer-events: initial !important;
    }

    .hs-fieldtype-radio {
      ul {
        margin: 0;
        margin-bottom: 8px;

        span {
          color: var(--dark);
          font-family: var(--nb-secondary-font);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
        }
      }
    }

    .hs-recaptcha {
      margin: 0;
    }

    .focused {
      top: -8px !important;
      color: var(--dark);
      background-color: transparent;
      font-size: 14px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 16px !important;
      padding: 0 5px !important;
    }

    .legal-consent-container {
      order: 100;
    }

    .hs_gmm_7_6_24_lenghtmembership,
    .hs_vanaf_9_30 {
      flex: 1 1 100% !important;

      legend {
        color: var(--dark);
        font-family: var(--nb-secondary-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
      }

      .inputs-list {
        padding: 0;
        margin: 0;
      }
    }
  }

  &.homepage {
    form {
      .hs-form-field {
        .input {
          input {
            border: 1px solid #79747E;
            color: #1D1B20;

            &::placeholder {
              color: var(--third-color);
            }
          }
        }
      }

      .hs-richtext {
        color: var(--third-color);
      }

      .hs-dependent-field {
        .input {
          .inputs-list {
            .hs-form-booleancheckbox {
              label {
                span {
                  color: var(--third-color);
                }
              }
            }
          }
        }
      }

      .hs-submit {
        .actions {
          .hs-button {
            box-shadow: none;
          }
        }
      }

      .hs-form-field label {
        color: #49454F;
      }

      .focused {
        background-color: var(--white);
        color: #49454F;
      }

      &:has(.hs_error_rollup),
      &:has(.hs-input.invalid.error) {
        margin-bottom: 2rem !important;
      }
    }
  }

  &.event {
    form {
      .hs-form-field {
        .input {
          input {
            border: 1px solid #79747E;
            color: #1D1B20;

            &::placeholder {
              color: var(--third-color);
            }
          }
        }
      }

      .hs-richtext {
        color: var(--third-color);
      }

      .hs-dependent-field {
        .input {
          .inputs-list {
            .hs-form-booleancheckbox {
              label {
                span {
                  color: var(--third-color);
                }
              }
            }
          }
        }
      }

      .hs-submit {
        .actions {
          .hs-button {
            box-shadow: none;
          }
        }
      }

      .hs-form-field label {
        color: #49454F;
      }

      .focused {
        background-color: var(--white);
        color: #49454F;
      }

      .legal-consent-container {
        order: unset;
      }
    }
  }

  &:has(.hs_error_rollup) {
    padding-bottom: 2rem;
  }

  &.columns-default {
    form {
      display: block !important;

      fieldset {
        max-width: 100%;

        .hs-form-field {
          margin-bottom: 10px;
        }
      }

      .legal-consent-container .hs-richtext {
        position: static;
        margin: 15px 0;
      }

      select {
        padding: 10px;
        margin: 10px 0;
        width: 100% !important;
      }

      .hs-richtext {
        color: #000;
      }

      .hs-fieldtype-select {
        label {
          position: unset;
          color: #000 !important;
        }
      }
    }
  }

  // Columns layout
  &.columns-two form {

    .legal-consent-container,
    .hs-submit,
    .hs-fieldtype-radio,
    .hs-fieldtype-booleancheckbox,
    .hs-form-field {
      flex: 1 1 calc(50% - 16px);
    }
  }

  &.columns-three form {
    display: flex;
    flex-wrap: wrap;

    .legal-consent-container,
    .hs-submit,
    .hs-fieldtype-radio,
    .hs-fieldtype-booleancheckbox,
    .hs-form-field {
      flex: 1 1 calc(33.33% - 16px);
    }

    .hs-fieldtype-radio,
    .hs-fieldtype-booleancheckbox {
      label {
        position: unset;
        padding: 0 !important;
      }
    }

    .legal-consent-container,
    .hs_submit {
      flex: 1 1 100%;
    }
  }

  // Two steps variants
  &.purple,
  &.green {
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .hs-form-field {
        label {
          position: unset;
          padding: 0 !important;

          span {
            color: var(--white);
            font-family: var(--nb-secondary-font);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.5px;
          }
        }

        .input {
          input {
            padding: 16px;
            border-radius: 4px;
            border: 1px solid var(--nb-grey);
            background: var(--white);

            color: var(--dark);
            font-family: var(--nb-secondary-font);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.5px;
          }
        }

        // Error messages
        .hs-error-msgs.inputs-list {

          label,
          label a {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.5px;
            color: #B3261E !important;
            cursor: pointer;
          }
        }
      }

      .hs-submit .actions .hs-button {
        border: 1.5px solid var(--dark);
        background: var(--dark);
        color: var(--white);
        transition: all .25s ease;

        &:hover {
          color: var(--dark);
          background-color: transparent;
        }
      }

      .legal-consent-container {
        order: unset;

        .hs-dependent-field {
          label {
            align-items: flex-start !important;
          }

          input {
            width: 20px;
            height: 20px;
          }

          span {
            color: var(--nb-gray);
            font-family: var(--nb-secondary-font);
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }
    }
  }

  &.purple {

    form .hs-form-field .hs-error-msgs.inputs-list label.hs-error-msg,
    form .hs-form-field .hs-error-msgs label a {
      color: var(--white) !important;
    }

    form .legal-consent-container .hs-dependent-field span {
      color: var(--white);
    }

    form .hs-submit .actions .hs-button:hover {
      color: var(--white);
    }
  }

  &.gray {
    form {
      .hs-form-field {
        label {
          position: unset;
          padding: 0 !important;

          span {
            color: var(--dark);
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.5px;
          }
        }

        .input {
          input {
            padding: 16px;
            border-radius: 4px;
            border: 1px solid var(--nb-grey);
            background: var(--white);

            color: var(--dark);
            font-family: var(--nb-secondary-font);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.5px;

            &:focus {
              border: 2px solid var(--dark) !important;
              outline: none !important;
            }
          }
        }
      }

      .legal-consent-container {
        order: unset;

        .hs-dependent-field {
          label {
            align-items: flex-start !important;
          }

          input {
            width: 20px;
            height: 20px;
          }

          span {
            color: var(--nb-gray);
            font-family: var(--nb-secondary-font);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }
      }

      // Error messages
      .hs-error-msgs {
        label a {
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.5px;
          color: #B3261E !important;
          cursor: pointer;
        }
      }
    }
  }

  &.green {
    form {
      .hs-form-field {
        label span {
          color: var(--dark);
        }
      }

      .legal-consent-container .hs-dependent-field span {
        color: var(--dark);
      }
    }
  }
}

.recaptcha-text {
  margin-top: .5rem;

  p {
    color: var(--nb-grey);
    font-family: var(--nb-secondary-font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  a {
    color: var(--dark);
    font-weight: 600;
    text-decoration: none;
  }

  &.default {
    p {
      color: var(--dark);
    }
  }
}

@media screen and (max-width: 992px) {
  .ui-form-hubspot {
    form {
      grid-template-columns: 1fr;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    form .hs-submit .actions .hs-button {
      font-size: 18px;
    }

    &.event {
      form {
        display: flex;
        flex-direction: column;
      }

      form .hs-fieldtype-booleancheckbox .inputs-list .hs-form-booleancheckbox .hs-form-booleancheckbox-display span,
      form .hs-fieldtype-radio ul span {
        font-size: 13px;
      }

      form .hs-fieldtype-booleancheckbox .inputs-list .hs-form-booleancheckbox .hs-form-booleancheckbox-display input,
      form .hs-fieldtype-radio .inputs-list .hs-form-radio-display .hs-input {
        width: 20px;
        height: 20px;
      }

      form .hs-fieldtype-booleancheckbox .inputs-list {
        padding-bottom: 15px;
        margin-bottom: 0;
      }
    }

    &.purple {
      form {
        gap: 10px;
      }
    }

    &.gray {
      form {
        gap: 15px;
      }
    }
  }
}